.container {
  background-color: #467590;
  display: flex;
}

.details-container {
  flex: 2
}

.gallery-container {
  flex: 1
}

.main-container {
  line-height: 1.75rem;
  margin: 2% 10%;
}

.main-container label {
  font-size: 1.25rem;
}

.top-container {
  align-items: center;
  display: flex;
  margin: 4% 0;
}